
<div class="overlay" *ngIf="visible">
  <div class="modal">
    <div class="modal-header">
      <h2 class="notif">Notification</h2>
      <button class="close-btn" (click)="fermer()">X</button>
    </div>
    <div class="modal-body">
      <p><strong>Notification :</strong> {{ notification?.titre }}</p>
      <p>{{ notification?.detail }}</p>
    </div>
  </div>
</div>

<!-- <div class="overlay" *ngIf="visible">
  <div class="modal">
    <div class="modal-header">
      <button class="close-btn" (click)="fermer()">X</button>
      <h2>Notification</h2>
    </div>
    <div class="modal-body">
      <p><strong>Notification :</strong> {{ notification?.titre }}</p>
      <p>{{ notification?.detail }}</p>
    </div>
  </div>
</div> -->
